*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: lightslategray;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.score {
    font-size: 25px;
}

.incorrect {
    font-size: 20px;
    display: none;
}

path:hover {
    fill: orange;
}