*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: lightslategray;
    text-align: center;
}

.info {
    padding-bottom: 15px;
}

.info h1 {
    font-size: 25px;
}

.info h2 {
    font-size: 20px;
    display: none;
}

path:hover {
    fill: orange;
}